.filter{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(130px,auto));
    gap:20px;
    padding: 26px 8px;
    background-color: rgb(245, 245, 245);
}

.filter::-webkit-scrollbar{
    display: none;
}

.filter>div>div:first-child{
    border: 1px solid rgb(209, 209, 209);
    font-weight: 600;
    padding: 6px 16px;
    display: flex;
    justify-content: space-between;
    color:grey;
    border-radius: 3px;
    cursor: pointer;
}

.filter>div span{
    color:black
}

.filter_modal{
    transition: height 0.3s;
    overflow: scroll;
    position: absolute;
    z-index: 3;
    width: 100%;
    background-color: white;
}

@media all and (min-width:0px) and (max-width:450px){
    .filter{
        gap: 16px;
    }
    .filter .search_filter{
        padding: 10px;
    }
}