.offer_modal{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.offer_modal>div{
    display: grid;
    gap: 16px;
    grid-template-columns: 60px auto;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(225, 225, 225);
    cursor: pointer;
}

.offer_modal>div b{
    color: green;
}

.offer_modal>div p{
    font-size: 14px;
    text-shadow: 0px 0px 1px rgb(159, 159, 159);
}