.total_and_sort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  color: grey;
  padding: 0px 10px;
  align-items: center;
}

.total_and_sort > div {
  display: flex;
  gap: 40px;
  align-items: center;
}

.total_and_sort > div > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  color: rgb(72, 72, 72);
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
  padding: 6px 16px;
  min-width: 200px;
  cursor: pointer;
}

.sort_modal {
  transition: height 0.3s;
  overflow: scroll;
  position: absolute;
  z-index: 3;
  background-color: white;
  top: 38px;
  right: 0;
  max-width: 220px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sort_modal > div {
  padding: 20px;
}

.sort_modal::-webkit-scrollbar {
  display: none;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media all and (min-width: 750px) and (max-width: 1000px) {
  .product_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .product_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 0px) and (max-width: 500px) {
  .total_and_sort {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .product_list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -106px;
    width: 100vw;
    margin-left: -16px;
  }

  .offer_nav p {
    text-align: left;
    font-weight: 500;
  }
}
