.shop_for_nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.shop_for_nav>div{
    display: flex;
    gap: 10px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 2px;
    padding: 8px;
    padding-right: 20px;
    align-items: center;
    min-width: fit-content;
}

.shop_for_nav>div:hover{
    border: 1px solid blue;
}

.shop_for_nav>div>p{
    font-weight: 600;
    font-size: 14px;
}

.shop_for_nav>div img{
    width: 40px;
}

@media all and (min-width:0px) and (max-width:800px){
    .shop_for_nav{
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 10px;
    }

    .shop_for_nav>div{
        padding: 4px;
        padding-right: 14px;
    }

    .shop_for_nav>div img{
        width: 34px;
    }

    .shop_for_nav::-webkit-scrollbar{
        display: none;
    }
}